NEXT_PUBLIC_API_URL="https://simforge-updz.onrender.com"
NEXT_PUBLIC_SUPABASE_URL="https://mjqtfgyikverxckcyxri.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_LnaKvLnnbHEySUy3PZP6jA_PZotiq_q"
